body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 1em;
}

h1 {
  margin-top: 0px;
  font-size: 1.5em;
  font-family: 'Caprasimo', cursive;
}

h1 span {
  font-family: 'Dancing Script', cursive;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #fff;
  width: 200px;
  height: 50px;
  background-color: transparent;
}

.rounded__button {
  border: 1px solid;
  border-radius: 10px;
}

.m25 {
  margin-left: 25%;
}

.underline {
  height: 0px;
  width: 200px;
  margin-bottom: 50px;
  border-bottom: 2px solid gold;
  align-self: center;
}

.icon__dog{
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.nav__button {
  width: 80px;
  height: 35px;
  margin-right: 10px;
  border-color: gold;
}

.nav__button:hover {
  background-color: gold;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: local;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

#home {
  background-image: url("../img/1.jpg");
}

.home__container {
  align-items: flex-start;
  justify-content: center;
}

.home__content {
  margin-left: 10%;
  width: 20%;
  min-width: 250px;
}

.home__label {
  color: white; 
}

.home__label span {
  color: yellow;
}

.home__text {
  color: #fff;
}

.home__action {
  margin-top: 10px;
}

.home__button {
  border-color: yellow;
}

.home__button:hover {
  background-color: yellow;
}

#crysis {
  background-image: url("../img/2.png");
}

.crysis__container {
  justify-content: center;
  align-items: flex-end;
  margin-right: 10%;
}

.crysis__content {
  width: 40%;
  min-width: 300px;
}

.crysis__label {
  text-align: center;
  color: lightgrey;
  display: flex;
  flex-direction: column;
}

.crysis__text {
  color: darkgrey;
}

.crysis__action {
  margin-top: 20px;
}

.crysis__button {
  border-color: darkgray;
  margin-left: 25%;
}

.crysis__button:hover {
  background-color: darkgray;
}

#hope {
  background-image: url("../img/3.png");
  background-color: gold;
}

.hope__container {
  justify-content: space-between;
  align-items: center;
}

.hope__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.hope__label {
  width: 40%;
  min-width: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.hope__label p {
  text-align: center;
  color: chocolate;
}

.hope__card {
  width: 33%;
  min-width: 300px;
  color: black;
  background-color: #fff;
  margin-bottom: 20px;
}

.hope__footer {
  text-align: center;
  color: aliceblue;
}

.hope__button {
  border-color: greenyellow;
  margin-bottom: 5%;
}
.hope__button:hover {
  background-color:greenyellow;
}

#testimonials {
  background-image: url("../img/4.jfif");
}

.test__container{
  justify-content: space-around;
  align-items: center;
}

.test__label{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test__content{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.test__card {
  background: transparent;
  width: 360px;
  display: flex;
  flex-direction: row;
}

.test__card__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.pdt16 {
  padding-top: 16px;
}

.test__card .card-body h5 {
  color: gold;
}

.test__card .card-body p {
  color: azure;
}

.test__button {
  border-color: darkgray;
}

.test__button:hover {
  background-color: darkgray;
}

#atc {
  background-color: lightblue;
  background-image: url("../img/5.jfif");
}

.atc__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.atc__label {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkcyan;
}

.atc__card {
  color: black;
  margin-bottom: 20px;
  width: 250px;
}

.atc__card__img_container {
  position: relative;
}

.atc__card__img_container p{
  position: absolute;
  top: 226px;
  background-color: gold;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}

.atc__card__img {
  width: 250px;
  height: 250px;
}

.atc__content {
  padding: 15px;
}

.atc__footer {
  text-align: center;
  color: aliceblue;
  margin-bottom: 5%;
}

.atc__button {
  border-color: darkcyan;
  color: #000;
}

.atc__button:hover {
  background-color: darkcyan;
}

#support {
  background-image: url("../img/8.webp");
  min-height: calc(100vh / 2);
}

.support__container {
  min-height: calc(100vh / 2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.support__label {
  text-align: center;
  color: lightblue;
}

.support__label span{
  color: gold;
}

.support__action button {
  border: 1px solid gold;
  border-radius: 10px;
}

.support__action button:hover {
  background-color:  gold;
}

.support__action input {
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
}

.footer {
  background-color: lightblue;
}

.footer a {
  text-decoration: none;
}

.media__icon {
  width: 50px;
  height: 50px;
}

.footer__container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 991px) {
  #atc {
    background-size: auto;
  }
}

@media screen and (max-width: 820px) {
  .icon__dog{
    width: 50px;
    height: 50px;
    margin-left: 0;
  }
  .home__container {
    align-items: center;
  }
  .crysis__container {
    align-items: center;
    margin-right: 0;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .media__icon {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 420px) {
  .footer__row a{
    display: block;
  }
}